.radio::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 8px;
}
.radio::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #d87d4a;
  z-index: 1;
  left: 5px;
  top: 5px;
  border-radius: 8px;
}
